@charset "UTF-8";
body, ul, ol, li, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

button, input, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%; }

html, body {
  background: #efeff4;
  font-family: '黑体','Microsoft YaHei',simhei,sans-serif; }

img {
  border: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.st-header {
  display: none;
  position: fixed;
  top: 0;
  width: 10rem;
  font-size: 26px;
  color: #333;
  background-color: #fff;
  z-index: 2; }
  [data-dpr="1"] .st-header {
    font-size: 13px; }
  [data-dpr="3"] .st-header {
    font-size: 39px; }
  .st-header ul::after {
    content: "";
    display: block;
    clear: both; }

.header-item {
  float: left;
  width: 3.33333rem;
  height: 1.25rem;
  text-align: center;
  line-height: 1.25rem;
  background-color: #fff; }

.triangle-bottom {
  display: inline-block;
  width: 0.21875rem;
  height: 0.21875rem;
  margin-left: 0.15625rem;
  background: url(../images/drop.png) no-repeat;
  background-size: cover;
  font-size: 0; }

.triangle-top {
  display: inline-block;
  width: 0.21875rem;
  height: 0.21875rem;
  margin-left: 0.15625rem;
  background: url(../images/pull.png) no-repeat;
  background-size: cover;
  font-size: 0; }

.head-item {
  display: none; }

.css-shop, .css-num, .css-select {
  position: absolute;
  top: 100%;
  width: 10rem;
  border-top: 1px solid #a0a0a0;
  background-color: #fff;
  z-index: 2; }

.css-select li {
  border-bottom: 1px solid #a0a0a0; }

.header-row {
  height: 1.09375rem;
  line-height: 1.09375rem;
  font-size: 26px;
  text-align: left;
  padding-left: 1.0625rem;
  box-sizing: border-box;
  color: #333;
  border-bottom: 1px solid #a0a0a0;
  cursor: pointer; }
  [data-dpr="1"] .header-row {
    font-size: 13px; }
  [data-dpr="3"] .header-row {
    font-size: 39px; }

.header-filter {
  height: 1.25rem;
  line-height: 1.25rem;
  width: 10rem;
  color: #333;
  text-align: center;
  padding: 0 0.625rem 0 0.3125rem;
  font-size: 26px; }
  [data-dpr="1"] .header-filter {
    font-size: 13px; }
  [data-dpr="3"] .header-filter {
    font-size: 39px; }

.filter-left {
  float: left; }

.filter-right {
  float: left;
  margin-left: 0.46875rem;
  width: 7.0rem; }

.book-time {
  float: left;
  width: 3.125rem;
  height: 0.78125rem;
  line-height: 0.78125rem;
  margin-top: 0.234375rem;
  text-align: center;
  background-color: #eee;
  border-radius: 0.0625rem; }

.book-line {
  float: left;
  width: 0.40625rem;
  height: 0.03125rem;
  margin-top: 0.609375rem;
  background-color: #888;
  margin-left: 0.15625rem;
  margin-right: 0.15625rem; }

.select-job-num {
  width: 100%;
  height: 0.78125rem;
  background-color: #eee;
  margin-top: 0.234375rem;
  border-radius: 0.0625rem; }

.header-skill {
  width: 10rem;
  text-align: center;
  padding: 0.4375rem 0.625rem 0.3125rem 0.3125rem;
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.skill-text {
  display: block;
  float: left;
  color: #333;
  font-size: 26px; }
  [data-dpr="1"] .skill-text {
    font-size: 13px; }
  [data-dpr="3"] .skill-text {
    font-size: 39px; }

.skill-arrow {
  display: block;
  float: right;
  color: #a0a0a0;
  font-size: 26px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); }
  [data-dpr="1"] .skill-arrow {
    font-size: 13px; }
  [data-dpr="3"] .skill-arrow {
    font-size: 39px; }

.skill-item {
  float: left;
  margin-top: 0.3125rem;
  margin-right: 0.3125rem;
  padding: 0.1875rem 0.3125rem;
  background-color: #eee;
  color: #a0a0a0;
  font-size: 22px; }
  [data-dpr="1"] .skill-item {
    font-size: 11px; }
  [data-dpr="3"] .skill-item {
    font-size: 33px; }

.sure-select {
  padding: 0.625rem; }

.sure-click {
  height: 1.375rem;
  line-height: 1.375rem;
  text-align: center;
  font-size: 30px;
  background-color: #333;
  color: #dab984;
  border-radius: 0.078125rem; }
  [data-dpr="1"] .sure-click {
    font-size: 15px; }
  [data-dpr="3"] .sure-click {
    font-size: 45px; }

.st-content {
  margin-top: 0;
  background-color: #fff; }

.st-article {
  display: block;
  position: relative;
  width: 10rem;
  height: 2.5rem;
  border-bottom: 1px solid #a0a0a0;
  padding: 0.4375rem 0.78125rem 0.40625rem 0.3125rem;
  box-sizing: border-box; }

.article-logo {
  float: left;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #eaeaea;
  box-sizing: border-box; }
  .article-logo img {
    width: 100%;
    height: 100%; }

.article-box {
  float: left;
  margin-left: 0.46875rem;
  font-size: 26px;
  line-height: 1;
  text-align: left; }
  [data-dpr="1"] .article-box {
    font-size: 13px; }
  [data-dpr="3"] .article-box {
    font-size: 39px; }

.content-name {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 0.1875rem;
  color: #333; }
  [data-dpr="1"] .content-name {
    font-size: 15px; }
  [data-dpr="3"] .content-name {
    font-size: 45px; }

.content-number {
  margin-bottom: 0.1875rem;
  color: #a19f9f; }

.content-detail {
  color: #a19f9f; }

.article-book {
  float: right;
  margin-top: 0.484375rem;
  width: 1.40625rem;
  height: 0.78125rem;
  line-height: 0.78125rem;
  text-align: center;
  background-color: #fff;
  color: #dab984;
  border: 1px solid #dab984;
  border-radius: 5px; }

.bg-shadow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1; }

/*# sourceMappingURL=master.css.map */
