@charset "utf-8";
@mixin font-dpr($font-size){
    font-size: $font-size;
    [data-dpr="1"] & {
        font-size: $font-size/2;
    }
    [data-dpr="3"] & {
        font-size: $font-size/2*3;
    }
}
@mixin flex(){ 
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin flex-justify(){ //左右居中
    -webkit-box-pack:center;
    -moz-justify-content:center;
    -webkit-justify-content:center;
    justify-content: center;
}
@mixin flex-align(){ //上下居中
    -webkit-box-align:center;
    -moz-align-items:center;
    -webkit-align-items:center;
    align-items: center;
}
@mixin flex-orient-row(){ //从左到右排列
    -webkit-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-flex-direction:row;
    -webkit-flex-direction:row;
    flex-direction: row;
}
@mixin flex-orient-col(){ //从上到下排列
    -webkit-box-direction:normal;
    -webkit-box-orient:vertical;
    -moz-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction: column;
}

@mixin flex-item($num){ //子元素伸缩数
    -webkit-box-flex:$num;
    -moz-box-flex:$num;
    -webkit-flex:$num;
    -ms-flex:$num;
    flex: $num;
}

.bsl-box{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    background-color: #fff;
    width: 10rem;
    z-index: 9;
}
.bsl-header{
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: left;
    padding: 0 0.3125rem;
    @include font-dpr(26px);
    color: #000;
}
.bsl-article{
    width: 9.375rem;
    background-color: #efeff4;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 1px;
}
.bsl-time-part{
    position: relative;
    margin-top: 1.1875rem;
    text-align: center;
}
.bsl-time-text{
    @include font-dpr(44px);
    color:#000;
}
.bsl-time-text-last{
    position: relative;
    display: inline-block;
}
.bsl-head-arrive-time{
    display: inline-block;
}
.bsl-head-end-time{
    position: absolute;
    left: 110%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #888;
    @include font-dpr(26px);
}
.bsl-time-center{
    color: #000;
    @include font-dpr(36px);
    margin: 0 1.09375rem;
}
.bsl-tips{
    text-align: center;
    color: #f3221f;
    @include font-dpr(24px);
    line-height: 1;
    margin-top: 0.5625rem;
}
.bsl-control-time{
    margin-top: 0.875rem;
    margin-bottom: 1.09375rem;
    height: 0.9375rem;
    @include flex();
    @include flex-justify();
}
.bsl-plus{
    width: 0.9375rem;
    height: 0.9375rem;
}
.bsl-plus-click{
    background-size: cover;
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    background-position: center;
}
.bsl-plus-noclick{
    background-size: cover;
    background-image: url(../images/nplus.png);
    background-repeat: no-repeat;
    background-position: center;
}
.bsl-time-detail{
    width: 3.4375rem;
    height: 0.9375rem;
    line-height: 0.9375rem;
    text-align: center;
    @include font-dpr(30px);
    color: #000;
}
.bsl-reduce{
    width: 0.9375rem;
    height: 0.9375rem;
}
.bsl-reduce-click{
    background-size: cover;
    background-image: url(../images/reduce.png);
    background-repeat: no-repeat;
    background-position: center;
}
.bsl-reduce-noclick{
    background-size: cover;
    background-image: url(../images/nreduce.png);
    background-repeat: no-repeat;
    background-position: center;
}
.bsl-foot-tips{
    margin-top: 0.46875rem;
    text-align: center;
    color: #888;
    @include font-dpr(24px);
    line-height: 1;
    margin-bottom: 1.40625rem;
}
.bsl-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    @include flex();
    z-index: 2;
    height: 1.5625rem;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.bsl-foot-left{
    width: 6.65625rem;
    @include font-dpr(26px);
    padding-left: 0.3125rem;
    box-sizing: border-box;
    line-height: 1.5625rem;
    color: #333;
    text-align: left;
}
.bsl-foot-right{
    width: 3.34375rem;
    line-height: 1.5625rem;
    @include font-dpr(30px);
    text-align: center;
}
.bsl-foot-noclick{
    background-color: #707070;
    color: #bea57e;
}
.js-bsl-foot-right{
    color: #dab984;
    background-color: #333;
}







